/* 首先去掉一些默认的样式 */
* {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: left;
}

.code , .canvas{
    width: 50%;
    height: 90vh;
    margin: 20px;
}

.code{
    border: 1px solid #07bbea;
    overflow-y:hidden;
}

.button{
    color: #07bbea;
    border: none;
    height: 20px;
    line-height: 20px;
    width: 60px;
    position: fixed;
    right: 50px;
    top: 60px;
    border: 1px solid #ddd;
    box-shadow: 3 2 1 0 rgba(0 , 0 , 0 , 0.2);
}

.up{
    top: 30px;
}

.token.selector,.token.punctuation,.token.property,.token.comment,.token.function{
    color: rgb(132,26,138);
}

